

{% extends "base.html" %}
{% block content %}

    {% if session.user_id %}


        <section class="outer-container">
            <section class="container">
                <h2>Trips</h2>
                <p>Total: {{ count }} trips available.</p>
                <div>
                    {% for trip in trips %}
                        <div class="container">
                            <i>User:</i> {{ trip[1] }}
                            <p>
                                <a href="/trips/{{ trip[0] }}">
                                    <b>{{ trip[2] }} - {{ trip[3] }}</b>
                                </a>
                            <p>
                                {{ trip[7] }} - {{ trip[8] }}
                            <p>
                                Seats left: {{ trip[9] }}
                            <form action="/trips/{{ trip[0] }}/dibs" method="POST">
                                <input type="submit" value="Dibs!">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>
                            <p>
                                <i>Journey starts:</i> {{ trip[4].strftime("%Y-%m-%d %H:%M:%S") }}

                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </section>
            <section class="container">
                <div class="container">
                    <h3>Add New Trip</h3>
                    <form action="/add_trip" method="POST" onsubmit="return">
                        <table>
                            <tr>
                                <th><label for="from">From: </label></th>
                                <th>
                                    <input id="from" type="text" name="departure">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="to">To: </label></th>
                                <th>
                                    <input id="to" type="text" name="destination">
                                </th>
                            </tr>
                            <tr>
                                <th><label>Vehicle</label></th>
                                <th>
                                    <select name="vehicle">
                                        {% for vehicle in vehicles %}
                                            <option>{{ vehicle.reg_nro }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th><label for="start">Start: </label></th>
                                <th>
                                    <input id="start" type="datetime-local" name="depart_time">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <input type="submit" value="add trip">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                </th>
                            </tr>
                        </table>
                    </form>
                </div>
            </section>
        </section>

    {% else %}

    {% endif %}


{% endblock %}