{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form action="/login" method="post">
            <table>
                <tr>
                    <th>
                        Username:
                    </th>
                    <th>
                        <input type="text" name="username">
                    </th>
                </tr>
                <tr>
                    <th>
                        Password:
                    </th>
                    <th>
                        <input type="password" name="password">
                    </th>
                </tr>
            </table>
            <input type="submit" value="Login">
        </form>
        If you don't have an account, please register <a href="/register">here</a>
    </div>

{% endblock %}