{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h2>Trip info</h2>

        <table class="container">
            <tr>
                <th>Trip:</th>
                <th>{{ trip.departure }} - {{ trip.destination }}</th>
            </tr>
            <tr>
                <th>Departure:</th>
                <th>{{ trip.depart_time }}</th>
            </tr>
            <tr>
                <th>Vehicle:</th>
                <th>{{ vehicle.manufacturer }} - {{ vehicle.model }}</th>
            </tr>
            <tr>
                <th>Seats:</th>
                <th>{{ trip.seats_left }}</th>
            </tr>
            <tr>
                <th>passangers:</th>
                <th>
                    {% for passanger in passangers %}
                        <div>
                            <a href="/users/{{ passanger.id }}">
                                {{ passanger.username }}
                            </a>
                            {% if trip.user_id == session.user_id or passanger.id == session.user_id %}
                                <form action="/trips/{{ trip.id }}/remove_passanger/{{ passanger.id }}" method="POST">
                                    <input type="submit" value="Remove">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </th>
            </tr>
        </table>
        <hr>
        <h2>messages:</h2>
        {% for message in messages %}
            <div class="container">
                <b>{{ message[3] }}</b>
                <p>
                    {{ message[0] }}
                <p>
                    <i>Sender:</i> {{ message[1] }}
                <p>
                    {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
            </div>
            <hr>
        {% endfor %}
    </div>


    <div class="container">
        <form action="/send/{{ trip.id }}" method="POST" onsubmit="return check(this)">
            <table class="container">
                <tr>
                    <th>
                        <lable>Title:</lable>
                    </th>
                    <th>
                        <input name="title" type="text">
                    </th>
                </tr>
                <tr>
                    <th>
                        <lable>Message:</lable>
                    </th>
                    <th>
                        <textarea name="content" rows="3" cols="40"></textarea>
                    </th>
                </tr>
            </table>
            <input type="submit" value="Send">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>


    <script>
        function check(form) {
            if (form.title.value.length > 100) {
                alert("Otsikko on liian pitkä");
                return false;
            }
            if (form.message.value.length > 5000) {
                alert("Viesti on liian pitkä");
                return false;
            }
            return true;
        }
    </script>

{% endblock %}